
@{
    ViewBag.Title = "Home";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="mt-3">Benvenuto!!!</h2>



    <h5 class="mb-3">Pagina di gestione, guarda un pò i verbali 
    in archivio!</h5>
</div>
